API_ID=your_telegram_api_id
API_HASH=your_telegram_api_hash
BOT_TOKEN=your_bot_token
ADMIN_ID=your_id
MONGO_URI=mongodb_connection_string

FILEPRESS_UPLOAD_URL=https://api.filebee.xyz/api/v1/file/add

CHANNEL_URL=https://t.me/yourchannel
GROUP_URL=https://t.me/yourgroup
DEVELOPER_URL=https://t.me/yourprofile

WELCOME_PHOTO=https://your-photourl
